.dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
.window {
 background-color: #fff;
  width: 80%;
  height: 0;
  padding-bottom: 40%; /* 2:1 */
  position: relative;
}
.closeButton{
    position: absolute;
    right: -50px;
    outline: 0;
    
  
}
/* contentComponent.module.css */

.closeButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  font-size: 24px; /* 원하는 크기로 조절하세요 */
}
